select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }

.bi-x-circle-fill{
  position: relative;
    left: -20px;
    top: -10px;
  }
.bi-x-circle-fill:before {
    position: relative;
    top: 2px;
    border-radius: 50%;
    background-color: white;
}

.bi-x-circle-fill:hover{
  box-shadow: 2px 2px 4px 0px black;
  }
  
  /* Payment Modal */

  .card-user{
    font-size: 12px;
      }
    
      .container {
        margin-top: 40px;
        margin-bottom: 40px
    }
    
    #odeModal img {
        width: 100%
    }
    
    #odeModal .card-title {
        justify-content: space-between;
        margin-top: 25px
    }
    
    .register {
        font-size: 10px;
        position: relative;
        bottom: 5px
    }
    
    
    #odeModal input {
        border: none;
        padding-left: 4px;
        background-color: #f7f1f1;
        font-size: 15px
    }
    
    
    #odeModal .footer {
        background-color: #00BCD4;
        color: white
    }
    
    #odeModal .footer:hover {
        cursor: pointer;
        background-color: #0097A7
    }
    
    .numbr {
        border-bottom: 1px solid #c1bcbc;
        padding-bottom: 8px
    }
    
    .line2 {
        border-bottom: 1px solid #c1bcbc;
        padding-bottom: 8px;
        padding-left: 0px
    }
    
    #odeModal input:focus {
        outline: 0;
        box-shadow: none !important
    }
    
    .numbr:hover {
        border-bottom: 1px solid aqua
    }
    
    .line2.hover,
    .line2:hover {
        border-bottom: 1px solid aqua
    }
    
    .fa-lock {
        margin-right: 10px
    }
    
    .order {
        margin-top: 10px
    }
    
    
    .credit-card{
      font-family: "Orbitron";
    }