li i {
    margin-right: 5px;
}
.user-menu button:hover{
background-color: #2f3640;
cursor: pointer;
}

.user-menu span{
    height: 100%;
cursor: pointer;
}

.user-menu span:hover{
    text-decoration: underline;
}

.user-menu i{
    color: gray;
}

.user-menu button::after{
    content: none;
  }

.user-menu *:focus, .user-menu *:active{
  outline: none !important;
  box-shadow: none;
}


#profileModal i{
    font-size: xx-large;
}